<!DOCTYPE html>
<html>
  <head>
    <title>Prototype Wesbsite</title>
  </head>
  <body>
    <h1>Prototype Wesbsite</h1>
    <p>By tonight, I will have a fully-functioning wesbsite!</p>
  </body>
</html>